body {
      font-family: 'Inter', sans-serif;
      margin: 0;
      overflow-y: hidden;
      overflow-x: scroll;
}

h1 {
      font-size: 61px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      color: #000000;
      margin: 0;
}

h4 {
      color: #2A3647;
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      margin: 0;
}

p {
      margin: 0;
}

.d-none {
      display: none;
}

/* 2xl 	@media (min-width: 1536px) {  } */

/* xl  */
@media (min-width: 1280px) {}

/* lg  */
@media (min-width: 1024px) {}

/* md  */
@media (min-width: 768px) {}

/* sm  */
@media (min-width: 640px) {}