body {
      font-family: 'Inter', sans-serif;
      margin: 0;
      overflow-y: scroll;
      overflow-x: scroll;
      background-color: #F6F7F8;
}


h1 {
      font-size: 61px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      color: #000000;
      margin: 0;
}

h2 {
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      color: #000000;
      margin: 0;  
}

h4 {
      color: #2A3647;
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      margin: 0;
}

p {
      margin: 0;
}

button {
      cursor: pointer;
}

.page-margin-top{
      margin-top:80px;
      margin-bottom: 80px;
}
.board-add-button {
      color: #ffffff;
      background-color: #2A3647;
      border: none;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 21px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      width: 160px;
      height: 48px;
      gap: 4px;
      transition: 125ms;
}

.board-add-button:hover {
      background-color: #29ABE2;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.board-add-button:active {
      background-color: #091931;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}


.primary-button {
      color: #ffffff;
      background-color: #2A3647;
      border: none;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 21px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      /* 25.2px */
      width: 160px;
      height: 48px !important;
      gap: 4px;
      transition: 125ms;
}

.primary-button:hover {
      background-color: #29ABE2;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.primary-button:active {
      background-color: #091931;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.secondary-button {
      color: #2A3647;
      background-color: #fff;
      border-style: solid;
      border-color: #2A3647;
      border-radius: 10px;
      border-width: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      /* 25.2px */
      width: 160px;
      height: 48px;
      gap: 4px;
      transition: 125ms;
}

.secondary-button:hover {

      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.167);
      color: #29ABE2;
      border-color: #29ABE2;
}

.secondary-button:active {
      background-color: #091931;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.close-icon {
      display: flex;
      height: 36px;
      width: 36px;
}

.close-icon:hover {
      background-color: #bcbcbc;
      border-radius: 500px;
      transition: 150ms ease-in;
      height: 36px;
      width: 36px;
}

.d-none {
      display: none;
}

.pointer {
      cursor: pointer;
}

/* 2xl 	@media (min-width: 1536px) {  } */

/* xl  */
@media (min-width: 1280px) {}

/* lg  */
@media (min-width: 1024px) {
      
}

/* md  */
@media (min-width: 768px) {}

/* sm  */
@media (min-width: 640px) {}