/* 
|||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||  Input Field  ||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||  
*/

.form_input_container {
      display: flex;
      flex-direction: column;
      
}

.form_input_label span {
      color: #FF8190;
}


.form_input_field {
      display: flex;
      padding: 12px 21px;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 10px;
      border: 1px solid #D1D1D1;
      background: #FFF;
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 5px;
      transition: 125ms ease-in;
         
}



.form_input_field::placeholder {
      color: #D1D1D1;
      
  }

  .form_input_field:hover {
      border: 1px solid;
      border-color: #29ABE2;
      transition: 125ms ease-out;
  }

  .form_input_field:focus-visible {
      border: 1px solid;
      border-color: #29ABE2;
      outline: none;
      background-color: #DEECF4;
      transition: 125ms ease-out;
      
  
  }

.form_input_notice {
      height: 18px;
}

.form_input_notice p {
      font-size: 14px;
      color: #FF8190;
}


/* 
|||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||  textarea  ||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||  
*/

.form_textarea_container {
      display: flex;
      flex-direction: column;
      transition: 125ms ease-in;
      
}

.form_textarea_label span {
      color: #FF8190;
}


.form_textarea_field {
      display: flex;
      padding: 12px 21px;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 10px;
      border: 1px solid #D1D1D1;
      background: #FFF;
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 5px;
      transition: 125ms ease-in;
      font-family: "inter";
         
}


.form_textarea_field::placeholder {
      color: #D1D1D1;
      
  }

  .form_textarea_field:hover {
      border: 1px solid;
      border-color: #29ABE2;
      transition: 125ms ease-out;
  }

  .form_textarea_field:focus-visible {
      border: 1px solid;
      border-color: #29ABE2;
      outline: none;
      background-color: #DEECF4;
      transition: 125ms ease-out;
      
  
  }

.form_textarea_notice {
      height: 18px;
}

.form_textarea_notice p {
      font-size: 14px;
      color: #FF8190;
}


/* 
|||||||||||||||||||||||||||||||||||||||||||||
||||||||| assign contact dropdown |||||||||||
|||||||||||||||||||||||||||||||||||||||||||||  
*/
.form_assign_container {
      display: flex;
      flex-direction: column;
      
}

.form_assign_label span {
      color: #FF8190;
}


.form_assign_field {
      display: flex;
      background-color: #00000000;
      align-items: center;
      align-self: stretch;
      border: none;
      font-size: 20px;
      transition: 125ms ease-in;
      flex-grow: 1;
      z-index: 2;
      
}


.form_assign_field::placeholder {
      color: #D1D1D1;
      
  }

  .form_assign_field_container:hover {
      border: 1px solid;
      border-color: #29ABE2;
      transition: 125ms ease-out;
  }

  .form_assign_field_container:focus-visible {
      border: 1px solid;
      border-color: #29ABE2;
      outline: none;
      background-color: #DEECF4;
      transition: 125ms ease-out;
 
  }

  .form_assign_field_container:focus-within {
      border: 1px solid;
      border-color: #29ABE2;
      outline: none;
      background-color: #DEECF4;
      transition: 125ms ease-out;
 
  }

  .form_assign_field:focus-visible {
      border: none;
      outline: none;
      background-color: rgba(41, 170, 226, 0);
  }
  
  .form_assign_field:focus-within {
      border: none;
      outline: none;
      background-color: rgba(41, 170, 226, 0);
  }


.form_assign_notice {
      height: 18px;
}

.form_assign_notice p {
      font-size: 14px;
      color: #FF8190;
}

.form_assign_field_list_container {
      position: relative;
}

.form_assign_field_container {
      display: flex;
      border-radius: 10px;
      border: 1px solid #D1D1D1;
      margin-top: 10px;
      margin-bottom: 5px;
      transition: 125ms ease-in;
      justify-content: space-between;
      padding: 12px 15px 12px 21px;
      background-color: #fff;
      z-index: 2 !important;
      position: relative;
      
      
}

.form_assign_dropdown{
      
      display: flex;
      position: absolute;
      flex-direction: column;
      gap: 20px;
      background-color: #FFF;
      margin: 0;
      margin-top: -10px;
      width: 100%;
      z-index: 1 !important;
      flex-grow: 1;
      padding: 0;
      padding-left: 21px;
      padding-right: 21px;
      box-sizing: border-box;

    
      

}

.form_assign_dropdown li {
      display: flex;
      align-self: stretch;
      flex-grow: 1;
      justify-content: space-between;
      gap:16px;
      align-items: center;

}

.form_assign_dropdown li:first-child {
      padding-top: 20px;
}

.form_assign_dropdown li:last-child {
      padding-bottom: 20px;
}



.form_assign_name {
      flex-grow: 1;
      display: flex;
         
}

.form_assign_error {
      color: #FF8190;
      text-align: left;
      font-weight: 500;
}

.form_assign_badge {
      height: 45px;
      width: 45px;
      border-radius: 200px;
      fill: #00BEE8;
      stroke-width: 2px;
      stroke: #FFF;
      background-color: #00BEE8;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
}

.form_assign_badge_container {
      display: flex;
      gap: 15px;
      margin-top:10px;
}





/* 
|||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||| Due Date Field |||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||  
*/


#date-picker {
  color: #d1d1d1;
  font-family: 'Inter', sans-serif;
}


#date-picker:valid {
  color: black;
}


/* 2xl 	@media (min-width: 1536px) {  } */

/* xl  */
@media (min-width: 1280px) {}

/* lg  */
@media (min-width: 1024px) {}

/* md  */
@media (min-width: 768px) {}

/* sm  */
@media (min-width: 640px) {}