body {
    margin: 0;
}

.contact {
    width: 1440px;
    height: 100vh;
    background: #f6f7f8;
}

.contact-list {
    display: inline-flex;
    padding: 32px 24px;
    flex-direction: column;
    align-items: center;
}

.contact-list-inside {
    display: inline-flex;
    padding: 32px 24px;
    flex-direction: column;
    align-items: center;
    background: var(--white, #fff);
}

.btn-contact-add {
    display: flex;
    width: 352px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #2a3647;
    background: #2a3647;
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 25.2px */
    cursor: pointer;
}

.btn-contact-add:hover {
    background-color: #29abe2;
}

.btn-img-contact {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.userMainCase {
    display: flex;
    width: 352px;
    padding: 15px 24px;
    align-items: center;
    gap: 35px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}

.userIntials {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}

.userCase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 352px;
    padding: 15px 24px;
    gap: 35px;
}

.userName {
    color: #000;

    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.userMail {
    color: #007cee;
    /* Version 2/body */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.contacts {
    
}

.contact-details {
    margin-top: 16px;
    padding: 16px;
    background-color: #f6f7f8;
    border-radius: 10px;
}

.contact-info {
}

.contact-headline {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.contact-Titel-Open {
    color: #000;

    /* Version 2/t1 */
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 73.2px */
}

.contact-Titel-Mid {
}

.contact-Titel-team {
    color: #2a3647;

    /* Version 2/t5 */
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 32.4px */
}

.contact-Open-Info {
    display: flex;
    align-items: center;
    gap: 54px;
}

.contact-Open-Initials {
    display: flex;
    width: 80px;
    height: 28.571px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    /* Version 2/t2 */
    font-family: Inter;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 56.4px */
}

.contact-name {
    color: #000;

    /* Version 2/t2 */
    font-family: Inter;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 56.4px */
}

.contact-Titel-Edit-Delete {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.contact-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.contact-Titel-edit-img {
    width: 24px;
    height: 24px;
}

.contact-Titel-edit-text {
    color: var(--Version-2-main-color, #2a3647);

    /* Version 2/body */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.contact-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.contact-Titel-delete-img {
    width: 24px;
    height: 24px;
}

.contact-Titel-delete-text {
    color: var(--Version-2-main-color, #2a3647);
    /* Version 2/body */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.contact-Titel-contactInformation {
    display: flex;
    align-items: center;
    gap: 59px;
    width: 207px;
    height: 74px;
    flex-direction: column;
    justify-content: center;
}

.contact-Titel-contactInformation-text {
    color: #000;
    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.contact-Titel-phoneEmailAddresses {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.contact-mail {
    color: #007cee;
    /* Version 2/body */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.overlay {
    position: fixed; /* Fixierte Positionierung, immer im Viewport */
    top: 0;
    left: 0;
    width: 1212px;
    height: 592px;
    border-radius: 30px;
    background: #FFF;
    display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center; /* Zentriert den Inhalt vertikal */
    display: none; /* Standardmäßig versteckt */
}

.overlay-left {
    display: inline-flex;
    height: 460px;
    width: 572px;
    padding: 66px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: var(--Version-2-main-color, #2A3647);
}

.overlay-left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.overlay-left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.overlay-left-text-first {
    color: var(--white, #FFF);

    /* Version 2/t1 */
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 73.2px */
}

.overlay-left-text-second {
    color: var(--white, #FFF);

    /* Version 2/t5 */
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 32.4px */
}

.overlay-img-div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 70px;
    border: 3px solid var(--white, #FFF);
    background-color: grey;
    /* nuevo */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

#newContactForm.overlay {
    position: fixed; /* Positioned relative to the viewport */
    left: 50%; /* Positioned in the center horizontally */
    top: 50%; /* Positioned in the center vertically */
    transform: translate(-50%, -50%); /* Offset for the top and left values */
    /* Weitere Stile für das Overlay */
}

.overlay-input {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.overlay-name {
    display: flex;
    width: 422px;
    padding: 13px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF;
    color: var(--Style, #D1D1D1);
    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.overlay-email {
    display: flex;
    width: 422px;
    padding: 13px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF;
    color: var(--Style, #D1D1D1);
    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.overlay-buttons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.overlay-btn-close {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--Version-2-main-color, #2A3647);
    color: var(--Version-2-main-color, #2A3647);
    cursor: pointer;
    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.overlay-btn-save {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    border-radius: 10px;
    background: #2A3647;
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 25.2px */
}