.edit-task-overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(5px);
      background-color: #575757d1;
      position: fixed;
      width: 100%;
      height: 100%;
}

.edit-task-container {
      width: 440px;
      height: 100%;
      display: flex;
      flex-direction: column;
      /* Stellt sicher, dass die Kinder vertikal angeordnet werden */
      align-items: flex-start;
      background-color: #f4f4f4;
      padding: 40px;
      border-radius: 30px;
      overflow: scroll;
      gap: 12px;

}



.d-none {
      display: none;
}