.edit-task-overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(5px);
      background-color: #575757d1;
      position: fixed;
      width: 100%;
      height: 100%;
}

.d-none {
      display: none;
}