.footer-body {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 232px;
  height: 100dvh;
  padding:  0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: #2a3647;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.footer-img {
  width: 100px;
  height: 120px;
  flex-shrink: 0;
  margin-top: 64px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  
  
  
  
}

.footer-box {
  display: flex;
  align-self: stretch;
  height: 46px;
  padding-left: 48px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  transition: ease-in 125ms;
  text-decoration: none;
  
}

.footer-box:hover{
  background-color: #091931;
  transition: ease-out 125ms;
}

.footer-box-active{
  background-color: #091931;
}
.footer-box-text {
  color: var(--white, #fff);
  /* Version 2/body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  text-decoration: none;
}

.footer-box-img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.footer-end {
  display: flex;
  margin-bottom: 64px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  padding-left: 40px;

  
}

.footer-end-text {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  color: var(--icon, #a8a8a8);
  transition: ease-in 125ms;
  

  /* Version 2/body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  cursor: pointer;
  
}

.footer-end-text:hover{
  color: #00bee8;
  transition: ease-out 125ms;
}

/* 2xl 	@media (min-width: 1536px) {  } */

/* xl  */
@media (min-width: 1280px) {}

/* lg  */
@media (max-width: 1024px) {
  .footer-img, .footer-end {
    display: none;
    }

    .footer-body  {
      bottom: 0;
      left: 0;
      height: 80px;
      width: 100dvw;
      margin: 0;
      justify-content: center;
    }

    .footer-links{
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 0;
    }

    .footer-box{
      flex-direction: column;
      gap: 4px;
      padding: 0;
    }

    .footer-box-img{
      height: 24px;
      width: 24px;
    }

    .footer-box-text {
      font-size: 14px;
    }
}

/* md  */
@media (min-width: 768px) {}

/* sm  */
@media (min-width: 640px) {}