.footer-body {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 232px;
  height: 100dvh;
  padding:  0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: #2a3647;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  transition: 200ms;
}

.footer-img {
  width: 100px;
  height: 120px;
  flex-shrink: 0;
  margin-top: 64px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  
  
  
  
}

.footer-box {
  display: flex;
  align-self: stretch;
  height: 46px;
  padding-left: 48px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  transition: ease-in 125ms;
  text-decoration: none;
  
}

.footer-box:hover{
  background-color: #091931;
  transition: ease-out 125ms;
}

.footer-box-active{
  background-color: #091931;
}
.footer-box-text {
  color: var(--white, #fff);
  /* Version 2/body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  text-decoration: none;
}

.footer-box-img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.footer-end {
  display: flex;
  margin-bottom: 64px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  padding-left: 40px;

  
}

.footer-end-text {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  color: var(--icon, #a8a8a8);
  transition: ease-in 125ms;
  

  /* Version 2/body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  cursor: pointer;
  
}

.footer-end-text:hover{
  color: #00bee8;
  transition: ease-out 125ms;
}

.top-bar{
height: 88px;
position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  justify-content: flex-start;
  transition: 125ms;
  align-items: center;
}

.top-bar span{
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: 300px;
  font-size: 20px;
  
  
  
  
}

.top-bar-icon{
  transition: 125ms ease-in;
}

.top-bar-icon:hover {
  transform: scale(1.3);
  transition: 125ms ease-out;
}

.top-bar-icon-button-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 48px;
  flex-grow: 1;
  gap: 16px;
  

}

.top-bar-button{
height: 56px;
width: 56px;
border-radius: 200px;
border-width: 3px;
border-color: #697c98;
border-style: solid;
background-color: #fff;
font-size: 20px;
font-weight: 600;
color: #29ABE2;
transition: 125ms ease-in;
}


.top-bar-button:hover{
  transition: 125ms ease-out;
  background-color: #1f3f6936;

}



/* 2xl 	@media (min-width: 1536px) {  } */

/* xl  */
@media (min-width: 1280px) {}

/* lg  */
@media (max-width: 1024px) {
  .footer-img, .footer-end {
    display: none;
    }

    .footer-body  {
      bottom: 0;
      left: 0;
      height: 80px;
      width: 100dvw;
      margin: 0;
      justify-content: center;
    }

    .footer-links{
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 0;
    }

    .footer-box{
      flex-direction: column;
      gap: 4px;
      padding: 0;
    }

    .footer-box-img{
      height: 24px;
      width: 24px;
    }

    .footer-box-text {
      font-size: 14px;
    }

    .top-bar {
      height: 72px;
    }

    .top-bar-logo{
      margin-left: 48px;
    }

    .top-bar span {
      display: none;
    }

    .top-bar-button {
      height: 48px;
      width: 48px;
      font-size: 16px;
    }
}

/* md  */
@media (min-width: 768px) {}

/* sm  */
@media (min-width: 640px) {}