.formLogIn {
  display: inline-flex;
  padding: 48px 115px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 30px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.headLogIn {
  display: flex;
  justify-content: space-between;
}

.headSignUp {
  display: inline-flex;
  align-items: center;
  gap: 35px;
}

.textNau {
  color: #000;
  /* Version 2/t6 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.btnSignUp {
  cursor: pointer;
  display: flex;
  padding: 15px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #2a3647;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.btnFormLogIn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
}

.btnLogIn {
  cursor: pointer;
  display: flex;
  height: 48px;
  padding: 15px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #2a3647;
  color: #fff;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 25.2px */
}

.btnGuestLogIn {
  cursor: pointer;
  display: flex;
  height: 48px;
  padding: 15px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--version-2-main-color, #2a3647);
  background: var(--white, #fff);
  color: var(--version-2-main-color, #2a3647);
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 25.2px */
}

.headerText {
  width: 315px;
  color: #000;
  text-align: center;
  /* Version 2/t1 */
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 73.2px */
}

.checkboxLogIn {
  display: flex;
  padding: 0px 241px 0px 39px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logInField {
  display: flex;
  height: 152px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.inputLogIn {
  display: flex;
  width: 422px;
  padding: 12px 21px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: #fff;
  display: flex;
  width: 380px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  color: var(--Style, #d1d1d1);
  /* Version 2/t6 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.footLogIn {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  margin-top: 130px;
}

.footLogInText {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  color: var(--icon, #a8a8a8);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.logIN-Center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-background{
  width: 100%;
  height: 100%;
  position: absolute;
  background: #F6F7F8;
  pointer-events: none;
  opacity: 1; 
  transition: opacity 2s ease 1s; /* Animation der Opazität über 2 Sekunden mit 1 Sekunde Verzögerung */
}

#start-logo {
  position: absolute;
  top: 40%; /* Startposition in der Mitte */
  left: 50%; /* Startposition in der Mitte */
  transform: translate(-50%, -50%) scale(3); /* Zentriert das Logo und behält die ursprüngliche Größe bei */
  transition: all 1500ms ease-in-out 300ms; /* Glatter Übergang von 2 Sekunden */
}

#start-logo.small {
  top: 80px;
  left: 80px;
  transform: translate(0, 0) scale(1); /* Bewegt das Logo und verkleinert es auf 50% */
}

#start-background.opak{
  opacity: 0;
}
/* 2xl 	@media (min-width: 1536px) {  } */

/* xl  */
@media (min-width: 1280px) {
}

/* lg  */
@media (min-width: 1024px) {
}

/* md  */
@media (min-width: 768px) {
}

/* sm  */
@media (min-width: 640px) {
}
