.body-summary {
      background-color: #F6F7F8;
}

.tile-group {
      display: flex;
      width: 800px;
      padding: 106px 110px;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
}


.summary-column {
      display: flex;
      align-items: flex-start;
      gap: 32px;
      align-self: stretch;
      
}

.summary-status{
     
      flex: 1 0 0;
      text-decoration: none;
     
      
      
}




.summary-div-group{
      display: flex;
      
      flex-direction: column;
      
      height: 64px;
      justify-content: center;
      align-items: center;
      
}


.summary-status-count{
      text-decoration: none;
      font-size: 64px;
      color: #000000;
      font-weight: 600;
      transition: 150ms ease-in;
      

}

.summary-tile:hover .summary-status-count,
.summary-tile:hover .summary-status-title{
      color:#fff;
      transition: 150ms ease-out;
}

.summary-status-title{
      display: flex;
      color:#2A3647;
      font-size: 20px;
      white-space: pre-wrap;
      text-align: center;
}




.summary-line {
      width: 1px;
      flex-grow: 0;
      flex-shrink: 1;
      width: 2px;
      border: none;
      background-color: #d1d1d1;
      margin-top: 28px;
      margin-bottom: 28px;
      border-radius: 500px;
}


.summary-tile {
      display: flex;
      height: 160px;
      background-color: #fff;
      align-items: center;
      gap: 16px;
      justify-content: center;
      border-radius: 32px;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
      transition: 150ms ease-in;
      transform-origin: center;

}

.summary-tile:hover{
      background-color: #2A3647;
      transition: 150ms ease-out;
      transform: scale(1.05);
      
}

.summary-tile svg {
      fill: white;
      transition: 150ms ease-in;
  }

.summary-tile:hover svg {
      fill: #2A3647;
      transition: 150ms ease-out;
  }



.summary-icon {
      height: 64px;
      width: 64px;
      background-color: #2A3647;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3000px;
      transition: 150ms ease-in;
  }



  .summary-tile:hover .summary-icon {
      background-color: #fff; 
      transition: 150ms ease-out;
  }
   
  




  .urgent-date-container {
      display: flex;
      border-radius: 32px;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
      background-color: #fff;
      border-radius: 32px;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
transition: 150ms ease-in;
transform-origin: center;

}

.urgent-date-container:hover {
      background-color: #2A3647;
      transition: 150ms ease-out;
      transform: scale(1.05);
}

.urgent-date-container .summary-icon {
      background-color: #ff3d00; 
      transition: 150ms ease-in; 
}

.urgent-date-container:hover .summary-icon {
      background-color: #fff; 
      transition: 150ms ease-out; 
}

.urgent-date-container:hover .summary-status-count,
.urgent-date-container:hover .summary-date,
.urgent-date-container:hover .summary-status-title {
      color: #fff; 
      transition: 150ms ease-out; 
}

.urgent-date-container svg {
      fill: #FFF;
      
      transition: 150ms ease-in; 
}


.urgent-date-container:hover svg {
      fill: #FF3D00;
      transition: 150ms ease-out; 
}

.urgent-date-group{
      display: flex;
      border: none;
      border-radius: 0;
      flex-grow: 1;
      box-shadow: 0;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
      background-color: #ffffff00;
  }

  .urgent-date-group:hover {
      background-color: #ffffff00;
  }

  .summary-date {
      color:#2A3647;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 10px;
  }