<!-- Formular Input Feld -->
<div class="form_input_container">
      <div class="form_input_label">
            <h4>Title<span class="required">*</span></h4>
      </div>
      <input class="form_input_field" name="addtask_title" placeholder="Enter a Title" required="required">
      <div class="form_input_notice">
            <p class="d-none">This field is required</p>
      </div>
</div>


<!-- Formular Textarea Feld -->
<div class="form_textarea_container">
      <div class="form_textarea_label">
            <h4>Description<span class="required">*</span></h4>
      </div>
      <textarea class="form_textarea_field" name="addtask_description" placeholder="Enter a Description" required="required"></textarea>
      <div class="form_textarea_notice">
            <p class="d-none">This field is required</p>
      </div>
</div>

